:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  body {
    margin: 100px;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
  }
  
  h1 {
    font-size: 96px;
  }
  
  h2 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 24px;
    opacity: 0.7;
  }
  
  p {
    font-size: 18px;
    line-height: 1;
  }

  footer {
    text-align: center;   
    padding: 3px;
    margin-top: 20px;
    width: 100%;
    background-color: #F9F7FD;
    border-color: #F9F3EE;
    color: #f5f2fe;
  }

  .akhan-logo {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 50px; /* Set a small width */
  }

  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
  }
  
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  
  .about-paragraphs {
    display: flex;
    margin: 30px 0;
  }
  
  .about-paragraphs p {
    margin: 10px;
  }
  
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }
  
  .primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .secondary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  .work-inquiry {
    text-align: center;
    color:black;
    font-weight: bold;
    font-family: "playfair display";
    font-size: 48px;  
    padding-bottom: 0%;  
  }

  .lets-work{
    text-align: center;
    color: #6c63ff;
    opacity: 0.4;
    font-weight: bold;
    font-family: "playfair display";
    font-size: 28px; 
    padding-bottom: 0%;   
  }
  
  @media (max-width: 768px) {
    h1,
    h2,
    h3 {
      text-align: center;
    }
  
    h1.text-center {
      text-size: 24px;
    }
  
    h3.text-center {
      padding: 20px;
    }
  
    .about-paragraphs p {
      text-align: center;
    }
  
    .app-paragraphs {
      text-align: center;
    }
  
    .project-link {
      display: block;
      text-align: center;
      margin: 0 20px;
    }
  }